#container {
    padding: 6px;
    background-color: #404040;

    /*width: fit-content;*/
    width: 600px;

    margin: 0 auto; /*Gjør alt til å gå til midten*/
}

/*Overskriften på nettsiden*/
h1 {
    font-family: Arial, Helvetica, sans-serif;

    color: white;
    background-color: #3f5765;
    border: 1px solid black;

    padding-top: 25px;
    padding-bottom: 25px;

    margin-top: 7px;
    margin-bottom: 7px;
}

/*tabelen for nettsiden*/
#table-container {
    background-color: #bdd4de;
    padding: 7px;

}

table {
    border-collapse: collapse;
}

thead {
    background-color: #3f4259;

    font-weight: bold;
    color: white;
}

th {
    padding: 7px;

    border: 1px solid white;
}

td {
    padding: 7px;
    
    border: 1px solid white;
}

table>tbody>tr:nth-child(odd) {
    background-color: #f6f5f4;
}

table>tbody>tr:last-child {
    box-shadow: 0px 2px 1px black;
}


/*Bildene for nettsiden*/
#img-container {
    padding-top: 7px;
}


img {
    height: 300px;
    object-fit: contain;
}